$breakpoint-xxxl : 2180px;
$breakpoint-xxl : 1400px;
$breakpoint-xl : 1200px;
$breakpoint-lg : 992px;
$breakpoint-md : 768px;
$breakpoint-sm : 576px;

$breakpoint-max-xxxl : 2179px;
$breakpoint-max-xxl : 1399px;
$breakpoint-max-xl : 1199px;
$breakpoint-max-lg : 991px;
$breakpoint-max-md : 767px;
$breakpoint-max-sm : 575px;